.ButtonSpin {
  position       : relative;
  width          : 100%;
  height         : 150px;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}

.ButtonSpin__header {
  position       : absolute;
  left           : 0;
  right          : 0;
  top            : 0;
  bottom         : 0;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  z-index        : 2;
  margin-bottom  : 40px;
  transition     : 0.2s;
}

.ButtonSpin--active .ButtonSpin__header {
  transform: translateY(22px) translateZ(0px);
}


.ButtonSpin__main {
  position       : absolute;
  left           : 0;
  right          : 0;
  top            : 0;
  bottom         : 0;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
  z-index        : 1;
  transition     : 0.2s;
}

.ButtonSpin__main>svg {
  transition: 0.2s;
}

.ButtonSpin--active .ButtonSpin__main {
  transform: translateY(6px) scaleY(0);
}


.ButtonSpin__footer {
  position       : absolute;
  left           : 0;
  right          : 0;
  top            : 0;
  bottom         : 0;
  display        : flex;
  justify-content: center;
  align-items    : center;
  flex-direction : column;
}