.Slot {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
}

.Slot_inner {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  pointer-events: none;
  transition: .2s;
}

.Slot_position {
  display: flex;
  position: absolute;
  width: 100%;
  aspect-ratio: 1 / 1;
  justify-content: center;
  align-items: center;
}

.Slot_position>* {
  width: 100%;
  aspect-ratio: 1/1;
}

.Slot_inner_blur {
  transition: .2s;
  filter: blur(1rem);
}

.Slot_inner_end {
  animation: _bounce_animation .5s ease-in-out;
}

@keyframes _bounce_animation {
  from {
    transform: translateY(-5%);
  }

  50% {
    transform: translateY(5%);
  }

  to {
    transform: translateY(0);
  }
}